.quick-actions{
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.action-buttons{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 15px;
}

.action-button{
    color: var(--primary-text);
    background-color: var(--accent-color);
    border:solid 2px var(--border-color);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.action-button:hover{
    background-color: var(--hover-color);
}

.action-button:active{
    background-color: var(--active-color);
}