.sidebar{
  display: flex;
  background-color: var(--sidebar-bg);
  width: 250px;
  border-right: solid 2px #f8f8f8;
  text-align: left;
  flex-direction: column;
  color: var(--primary-text);
  padding: 10px;
  gap: 10px;
}

.homebtn{
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  background-color: var(--surface-bg);
  color: var(--primary-text)
}

.projectsbtn{
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  background-color: var(--surface-bg);
  color: var(--primary-text)  
}

.settingsbtn{
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  background-color: var(--surface-bg);
  color: var(--primary-text)
}